<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029625220663-9sg1338qkf1fdbb9oh1l6s0v8ee67mo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029625220663-9sg1338qkf1fdbb9oh1l6s0v8ee67mo3</string>
	<key>API_KEY</key>
	<string>AIzaSyBQaXQucLB_BPAepkwBNIL_MGEDNstzKMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1029625220663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>fir-login-fe597</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-fe597.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029625220663:ios:a192373a5e7c7010b4b9b2</string>
</dict>
</plist>